[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
maubot = "0.1.2"
mautrix = "0.9.10"
python-ldap = "3.3.1"

[dev-packages]
black = {version = "21.7b0", extras = ["d"]}
pylint = "2.9.6"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
